<h3>Details</h3>
{{data.name}}<br>
{{data.address}}<br>
{{data.category}}<br>

<h3>Write a review</h3>
<form action="/submitReview/{{data.id}}" method="POST">
  <label>Stars</label>
  <input type="radio" name="stars" value="0">0
    <input type="radio" name="stars" value="1">1
    <input type="radio" name="stars" value="2">2
    <input type="radio" name="stars" value="2">3
    <input type="radio" name="stars" value="2">4
    <input type="radio" name="stars" value="2">5<br><br>
  <label>Title</label>
  <input type="text" size="30" name="reviewTitle"><br><br>
  <label>Comments</label>
  <input type="text" size="150" name="reviewText"><br><br>
  <button type="submit">Submit</button>

</form>

<script>
  function verifyData(){
    var stars = document.getElementById('stars').value;
    console.log('stars: ' + stars);
    if (['0','1','2','3','4','5'].indexOf(stars) === -1){
      alert("please enter a star value between 0 and 5");
      return false;
    }
  }
</script>
